{% extends 'layout/basic.html' %}

{% block title %}
<title>СавицкийМузей - Список группировок</title>
{% endblock %}

{% block content %}
<h4 class="display-5 mt-4 text-center">СПИСОК ГРУППИРОВОК</h4>
<div class="container my-4">
    <div class="row text-center">
        <ul style="list-style: none">
            {% for as in association %}
            <li class="my-2"><a class="text-decoration-none link-warning"
                                href="{% url 'main:association_detail' as.pk %}">{{ as.name }}</a>
                <p class="text-muted">{{ as.content|truncatechars:60 }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}