{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="display-4 mt-4 text-center">
    КАТАЛОГ
</div>

<div class="container">
    <div class="row">
        <p dir="ltr">&nbsp;</p>
        <p style="text-align: justify;">Каталог составлен на основе публикаций советского и постсоветского времени.
            Сравнивая информацию, которую они содержат, можно убедиться в том, что в
            различных изданиях размеры, наименования и время создания того или иного произведения
            нередко не совпадают. Исходя из этого мы постарались во всех случаях указывать
            источник, откуда почерпнуты те или иные данные. Еще одним источником
            изображений явились фотографии картин, сфотографированных нами и активистами в
            экспозиции музея или на выставках. Если те же самые картины фигурировали в
            печатных изданиях, мы предпочли давать информацию, указанную в последних. В
            настоящее время в каталог введены около 900 картин из коллекции И.В.&nbsp;Савицкого;
            однако в нашей внутренней коллекции мы располагаем еще несколькими сотнями репродукций,
            которые мы будем постепенно заносить в каталог.</p>
        <p style="text-align: justify;">
            Информацию
            о картинах мы постарались сопроводить минимальными сведениями о художниках,
            включающими важные факты их биографий и данные о времени и месте учебы и
            работы, а также об участии в работе художественных объединений (группировок).
            Эти сопроводительные тексты не претендуют ни на научную полноту, ни на
            оригинальность. В рамках данного проекта эти данные, составляющие исключительно
            подсобный справочный материал, компилировались на основе научных публикаций,
            причем печатным работам отдавался приоритет перед виртуальными текстами. В
            любом случае, мы всегда указывали первоисточники, на основе которых была
            скомпилирована любая информация.</p>
        <p>&nbsp;</p>
        <div><strong>Перейти к <a class="link-warning" href="{% url 'main:author_list' %}">списку
            художников</a> в
            каталоге</strong>
        </div>
    </div>
</div>
</div>
{% endblock %}