{% extends 'layout/basic.html' %}

{% block title %}
<title>СавицкийМузей - Коллекция</title>
{% endblock %}

{% block content %}
<div class="display-4 m-4 text-center">
    КОЛЛЕКЦИЯ
</div>

<div class="container">
    <div class="col mx-3">
        <div class="row my-2" style="text-align: justify;">
            Формирование коллекции началось еще до официального учреждения Нукусского музея. В конце 1950-х – начале
            1960-х
            гг. Игорь Витальевич Савицкий занимался коллекционированием предметов каракалпакского народно-прикладного
            искусства в Каракалпакском филиале Академии наук Узбекистана. Им также был сформирован археологический
            отряд,
            целью которого был сбор предметов искусства древнего Хорезма. Таким образом, первоначальным ядром музейной
            коллекции стало древнее и народно-прикладное искусство приаральского региона, на территории которого сегодня
            находится Каракалпакстан.
        </div>
        <div class="row my-2" style="text-align: justify;">
            После образования Музея в 1966 году круг коллекционируемых предметов резко расширился. Даты закупок,
            приводимые
            в двух обширных каталогах музея («Авангард, остановленный на бегу», 1989, и «Советское искусство 1920-1930-х
            годов из собрания Государственного музея искусств Каракалпакской АССР имени И.В. Савицкого», 1991), дают
            возможность проследить эволюцию музейных интересов коллекционера и директора Музея. Его первоначальные
            приобретения были связаны с именами центральноазиатских художников, чье творчество критиковалось в
            предыдущие
            десятилетия за «формализм» и прочие деривации от «генеральной линии». Работы Александра Волкова, Михаила
            Курзина, Александра Николаева (Усто-Мумина), Виктора Уфимцева, Елены Коровай, Николая Карахана, Оганеса
            Татевосяна, Надежды Кашиной, Урала Тансыкбаева, Ильи Мазеля и других художников попадали в коллекцию И.В.
            Савицкого либо из семейных собраний, либо от самих художников. В отдельных случаях, как, например, обстоит
            дело
            с ранней живописью И. Мазеля, У. Тансыкбаева или Н. Карахана, Нукусская коллекция обладает огромными
            преимуществами перед любым другим собранием. Ее отличительной особенностью было стремление коллекционера к
            собиранию по «монографическому принципу» с охватом цельных пластов творческого пути художников, включающих
            наброски и эскизы.
        </div>
        <div class="row my-2" style="text-align: justify;">
            В 1970-е – 1980-е годы Савицкий перешел к более широкому коллекционированию советских художников, не
            отодвигая в
            то же время на задний план среднеазиатское искусство. По преимуществу его интересовали художники 1910-х –
            1950-х
            годов, участвовавшие в развитии формального языка нового искусства. Его особое внимание было также приковано
            к
            художникам забытым, табуированным, репрессированным, исключенным из художественной и социальной жизни. Так,
            знаменитые имена в его коллекции (Д. Бурлюк, М. Ле-Дантю, П. Кузнецов, А. Куприн, А. Осмеркин, Л. Попова, Р.
            Фальк, А. Шевченко и др.) перемежаются с гораздо менее известными (Н. Боровая, Д. Гриневич, В. Комаровский,
            Е.
            Лысенко, Н. Тарасов, А. Ставровский, Д. Лопатников, А. Поманский, В. Шухаев, К. Редько, С. Никритин, А.
            Рыбников, И. Кудряшов и другие).
        </div>
        <div class="row my-2" style="text-align: justify;">
            Отдельный и относительно небольшой раздел собрания составляют произведения советских шестидесятников и
            представителей неофициальной культуры 1970-х, таких как М. Шемякин, С. Рубашкин и другие.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Нукусский музей обладает также самой крупной коллекцией каракалпакских художников – Г. Абдурахмановой, А.
            Атабаева, Э. Жолдасова, Ж. Изентаева, Ж. Куттымуратова, А. Утегенова, А. Шпаде и других.
        </div>
        <div class="row my-2" style="text-align: justify;">
            После смерти И.В. Савицкого, коллектив Музея продолжил пополнение коллекции. В собрание поступали
            произведения,
            уже отобранные ранее Савицким или закупленные новым руководством Музея. В настоящее время его коллекции,
            согласно последним данным официальных источников, насчитывают около 90 тысяч единиц хранения. Некоторые
            художники представлены в этом собрании сотнями (А. Волков, У. Тансыкбаев, М. Соколов), а некоторые – даже
            тысячами произведений (Н. Карахан, И. Мазель).
        </div>
    </div>
</div>

{% endblock %}