{% extends 'layout/basic.html' %}

{% block title %}
<title>СавицкийМузей - Связаться с нами</title>
{% endblock %}

{% block content %}
<div class="display-4 m-4 text-center">
    КОНТАКТЫ
</div>
<div class="container">
    <p><strong>E-mail<br/></strong><a class="link-warning" href="mailto:heritalert@gmail.com">heritalert@gmail.com<br/></a>N.B.:
        Все вопросы,
        связанные с Музеем, такие как организация выставок, посещение Музея, вопросы о публикации изображений и т.д.,
        необходимо адресовывать напрямую Музею. Указанный е-мейл не является е-мейлом Музея, и <em>Alerte
            H&eacute;ritage</em> не сможет пересылать сообщения Музею.</p>
    <p><strong>Сайт&nbsp;</strong><br/>Русская версия : <a class="link-warning" href="https://www.alerteheritage.org/"
                                                           target="_blank">www.alerteheritage.org</a><br/>Version
        fran&ccedil;aise :&nbsp;<a class="link-warning" href="http://heritalert.wixsite.com/alert-fr" target="_blank">heritalert.wixsite.com/alert-fr</a>
    </p>
    <p><strong>Facebook</strong><br/><a class="link-warning" href="https://www.facebook.com/alerteheritage/"
                                        target="_blank">facebook.com/alerteheritage/</a><br/><br/>
</div>
{% endblock %}