{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="display-4 mt-4 text-center">
    АВТОРСКИЕ ПРАВА
</div>

<div class="container">
    <p class="my-2" style="text-align: justify;">Общие положения об авторском праве, зафиксированные
        в Бернской конвенции и в различных национальных законодательствах, предполагают
        ограничение действия авторского права определенным сроком. В зависимости от
        страны этот срок варьируется от 50 до 75 лет после смерти автора. Так, в Узбекистане
        и в Канаде этот срок равен 50 годам, а в России &ndash; 70-ти. Под охраной авторского
        права находятся не только первичные изображения &ndash; собственно художественные
        произведения &ndash; но и их репродукции, у каждой из которых имеется автор-фотограф
        (при этом закон не везде одинаков в рассмотрении срока действия авторского
        права применительно к фотографиям &ndash; Бернская конвенция указывает на минимальный
        срок охраны, равный 25 годам с момента первой публикации, но в национальных
        законодательствах этот срок и сам принцип могут варьироваться).</p>
    <p class="my-2" style="text-align: justify;">Законы, принятые на основе Бернской конвенции,
        едины в стремлении поддержать авторов и исключить извлечение коммерческой
        выгоды из их произведений третьими лицами. Однако каждый из них предусматривает
        свой свод исключений из общих правил. Поскольку Обсерватория <i>Alerte H&eacute;ritage</i> официально
        зарегистрирована в Канаде и должна следовать букве местного законодательства,
        для нас особое значение приобрел пункт в канадском законе об авторских правах,
        касающийся публикации произведений, <i>существованию которых угрожает опасность</i>.
        В частности, для музейных практик он оговаривает возможность репродуцировать
        произведения, хранящиеся в других музеях, &laquo;в случаях, если оригинал [&hellip;]
        разрушается, уже испорчен или потерян, а также если он подвергается риску быть
        разрушенным, испорченным или утраченным&raquo; (30.1.(1)).</p>
    <p class="my-2" style="text-align: justify;">Мы полагаем, что в случае Нукусского музея на это
        положение закона уместно сослаться по двум причинам.</p>
    <p class="my-2" style="text-align: justify;">Во-первых, в публичном пространстве неоднократно
        высказывались опасения по поводу физической сохранности работ из нукусского
        собрания. Экологическая катастрофа в районе Аральского моря, неподходящий
        климат с присутствующими в воздухе солями, отсутствие средств по надлежащей
        реставрации и уходу за произведениями всегда подчеркивались и внешними
        авторами, и дирекцией Музея. Возможно, после строительства новых корпусов и
        хранилища эта проблема стала немного менее острой, но окончательно она не
        разрешена и не будет разрешена в ближайшее время. С одной стороны, новые
        корпуса Музея уже продемонстрировали дефекты строительства и проблемы
        эксплуатации; с другой стороны, климат, воздух и экология остаются насущными
        проблемами региона по сей день.</p>
    <p class="my-2" style="text-align: justify;">Во-вторых, &ndash; и это главное &ndash; история 2015 года,
        когда в Музее начала работать прокурорская комиссия и была уволена Мариника
        Бабаназарова, более 30 лет занимавшая директорский пост, была всеми воспринята
        с крайней тревогой за судьбу коллекции. Эту тревогу выражали мировые СМИ, такие
        как <i>The Gardian</i>, <i>The New York Times, Die Welt, BBC</i> и множество других, экспертное сообщество,
        международная ассоциация <i>Друзья Нукусского музея</i> и т.д. По сути, ту же
        тревогу, только с обратным знаком, выразили и некоторые СМИ Узбекистана,
        которые по ходу событий писали о том, что прокурорская проверка выявила пропажи
        и подмены музейных экспонатов, якобы осуществленные в годы работы Мариники
        Бабаназаровой. Получается, что несмотря на разность оценок в отношении
        источника опасности, мировое и локальное сообщество оказалось единодушным в
        понимании того, что риск утраты части коллекции существует. Эта проблема
        серьезно обострена нетранспарентностью делопроизводства и неразберихой с
        внутренним каталогом, отсутствием цифровых копий работ даже у администрации
        музея.</p>
    <p class="my-2" style="text-align: justify;">В этой связи мы считаем наши действия оправданными
        и с легальной, и с моральной точек зрения. Если наш каталог послужит
        катализатором для создания Музеем собственного полноценного каталога с
        использованием предложенной нами системы или же со своим собственным
        информационным обеспечением, который гарантировал бы сохранение коллекции, мы
        будем считать свою миссию выполненной.</p>
    <p class="my-2" style="text-align: justify;">Если фотографы, имеющие права на сделанные ими
        репродукции музейных произведений, выскажутся против использования их работ в
        нашем проекте, мы будем готовы заменить их фотографии другими изображениями из
        тех, что накопились в нашей коллекции или перевести их изображения из
        публичного во внутреннее пользование. Мы призываем, однако, этого не делать до
        того момента, пока Нукусский музей не создаст полноценный виртуальный каталог,
        обезопасив таким образом свои коллекции.</p>
</div>
{% endblock %}