{% extends 'layout/basic.html' %}

{% block title %}
<title>СавицкийМузей - Кредиты</title>
{% endblock %}

{% block content %}
<div class="display-4 m-4 text-center">
    КРЕДИТЫ
</div>
<div class="container">
    <p class="my-2" style="text-align: justify;">
        Реализация проекта стала возможной прежде всего благодаря гражданским усилиям заинтересованных лиц, которые
        согласились помочь нам в фотофиксации картин в самом Нукусском музее и на других выставочных площадках, а также
        в нахождении и сканировании каталогов с работами из этого собрания.
    </p>
    <p class="my-2" style="text-align: justify;">
        Мы искренне благодарим за содействие и помощь в этой работе Анн Боти (Женева), Зухру Касымову (Чикаго), Ксению
        Крутову (Москва), Азизу Наурузбаеву (Ташкент) и Даниила Кислова (Москва).
    </p>
    <p class="my-2" style="text-align: justify;">
        Мы также адресуем наши слова благодарности за доброжелательное сотрудничество и предоставление ценных сведений
        Маринике Бабаназаровой, руководившей Нукусским музеем с 1984 по 2015 годы, и Гульбахор Изентаевой, нынешней
        директрисе Музея.
    </p>
    <p class="my-2" style="text-align: justify;">
        Мы очень признательны программисту Алексею Барташевичу (Санкт-Петербург) за верстку этого сайта и создание
        внутренней базы данных проекта.
    </p>
    <p class="my-2" style="text-align: justify;">
        Брендинговое агентство Асгард-дизайн (Санкт-Петербург) в лице его руководителей Давида Авакяна и Ольги Лосевой
        всегда было на связи для консультаций, неизменно точных и полезных.
    </p>
    <p class="my-2" style="text-align: justify;">
        Мы также выражаем нашу благодарность всем членам <a target="_blank" href="https://www.alerteheritage.org/o-nas"
                                                            class="link-warning"> Наблюдательного совета </a>Обсерватории
        <a target="_blank" href="https://www.alerteheritage.org/" class="link-warning">Alerte Héritage</a>, чья
        поддержка и советы помогли нам осуществить этот проект.
    </p>
    <p class="my-2" style="text-align: justify;">
        Борис Чухович (президент) и Светлана Горшенина (генеральный секретарь)
        Обсерватория <a target="_blank" href="https://www.alerteheritage.org/" class="link-warning">Alerte Héritage</a>
    </p>
</div>
{% endblock %}