{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}
<title>СавицкийМузей - Нукусский музей</title>
{% endblock %}

{% block content %}
<div class="display-4 m-4 text-center">
    НУКУССКИЙ МУЗЕЙ
</div>

<div class="container">
    <div class="col mx-3">
        <div class="row my-2" style="text-align: justify;">
            Нукусский музей был создан в 1966 году по инициативе художника и коллекционера Игоря Витальевича Савицкого,
            чья
            деятельность была поддержена представителями таких руководящих органов Каракалпакской АССР как Обком
            Коммунистической партии, Совет министров и Академия наук автономной республики.
        </div>
        <div class="row my-2" style="text-align: justify;">
            В истории Музея можно выделить три больших периода.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Первый был связан с формированием ядра музейной коллекции, беспрецедентной как в количественном, так и в
            качественном отношении для музеев автономных советских республик. Этот период не закончился со смертью И.В.
            Савицкого в 1984 году, т.к. многие произведения, ранее отобранные основателем музея в различных собраниях,
            продолжали поступать в коллекцию Нукуса до конца 1980-х годов.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Второй период начался после распада СССР, когда Музею требовалось перестроить свою деятельность в
            условиях
            экономического кризиса и идеологических перемен. Особыми достижениями музея с 1991 по 2015 годы, когда
            им
            руководила Мариника Маратовна Бабаназарова, стали урегулирование остаточных проблем с приобретенными
            И.В.
            Савицким произведениями, строительство новых корпусов Музея, успешный выход на международные выставочные
            площадки и публикация нескольких каталогов работ Нукусского собрания.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Третий, современный период начался летом 2015 года, когда М.М. Бабаназарова была уволена, а в музее
            начались
            прокурорская проверка по якобы произведенным подменам и хищениям работ и череда административных
            смен
            руководства музея. В этот период мировые СМИ неоднократно выражали свои опасения за дальнейшую
            судьбу коллекции
            И.В. Савицкого. Именно тревога за сохранение целостности музейного собрания привела к учреждению
            Обсерватории
            Alerte Héritage и инициированию проекта открытого общественного каталога Музея.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Типологически коллекция И.В. Савицкого сгруппирована вокруг четырех осей: народное искусство и
            археологические
            древности Каракалпакстана, искусство Средней Азии в целом и Узбекистана в частности 1920-х –
            1960-х годов,
            советское искусство 1920-х – 1960-х годов и новое каракалпакское искусство 1950-х – 1980-х
            годов. В том, что
            касается узбекского и каракалпакского искусства, а также отдельных художников Центральной Азии
            (Илья Мазель),
            нукусское собрание включает обширные и существеннейшие объемы работ. Коллекция советского
            искусства в основном
            строилась на работах художников, оттесненных на второй или даже третий план исполинскими
            фигурами Казимира
            Малевича, Василия Кандинского, Павла Филонова и других гигантов авангардных течений 1910-х –
            1930-х годов, чьих
            работ нет в Нукусе. Речь идет о художниках незаслуженно забытых, недооцененных современниками,
            нередко
            неизвестно где сгинувших в годы сталинских репрессий.
        </div>
        <div class="row my-2" style="text-align: justify;">
            По поводу количества хранящихся в Нукусской коллекции экспонатов доступные нам источники не
            дают однозначных
            цифр. Как указывала М.М. Бабаназарова в каталоге “Les Survivants des Sables Rouges”, в 1998
            году в Музее
            хранилось более 82 000 инвентарных единиц хранения. Последние цифры в различных СМИ восходят
            к 90 тысячам и
            более экспонатов. Серьезной проблемой является то, что на сегодняшний день было опубликовано
            не больше 1 000
            произведений живописи и графики, составляющих основную и наиболее ценную часть коллекции
            И.В. Савицкого (собрав
            все доступные нам каталоги Музея, мы получили около 800 изображений, в то время как
            остальные фоторепродукции,
            публикуемые в данном виртуальном проекте, были сделаны нами, гражданскими активистами и
            любителями искусства в
            стенах самого музея или на его выездных выставках). Таким образом, подавляющая часть работ
            коллекции до
            настоящего времени остается неизвестной никому, кроме хранителей Музея.
        </div>
        <div class="row my-2" style="text-align: justify;">
            Тревожит и разнобой в оценке числа работ конкретных художников. Например, одни источники
            указывают, что в Музее
            хранится «более 700 работ» Николая Карахана, другие – «около 1 000». Разница огромна, а
            между тем для того,
            чтобы сохранить наследие художника, требовалось бы знать точную цифру. В каталогах
            Нукусского музея и других
            печатных изданиях нам удалось найти лишь 31 изображения из этого неопределенного
            множества, и значит лишь эти 31
            работы сегодня обладают некоторым иммунитетом против воровства и подделок. Будем
            надеяться, что со временем
            посетители музея смогут сфотографировать и другие экспонаты периодически меняющейся
            экспозиции и что музейная
            администрация откликнется на настойчивые призывы создать и опубликовать полноценный
            электронный каталог
            коллекции, доступный всем желающим.
        </div>
        <div class="row my-2" style="text-align: justify;">
            В ожидании этого момента мы предлагаем нашим читателям, как специалистам, так и
            любителям, пользоваться <a href="{% url 'main:author_list' %}" class="link-warning">общественным открытым
            каталогом</a> Alerte Héritage,
            который на сегодняшний
            день является наиболее полной коллекцией
            репродукций работ Нукусского музея из всех, когда-либо и где-либо
            опубликованных.
        </div>
    </div>
</div>

{% endblock %}