{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="display-4 mt-4 text-center">
    ИСТОЧНИКИ
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>&nbsp;</p>
            <p>В подготовке виртуального каталога мы использовали альбомы и другие
                печатные издания, в которых фигурировали произведения коллекции И.В.&nbsp;Савицкого. В их
                число вошли:</p>
            <p><b>Каталоги Нукусского музея:</b></p>
            <ul>
                <li><i>Государственный музей искусств Каракалпакской АССР </i>(Альбом), Москва:
                    Советский художник, 1976.
                </li>
                <li>Э.Д.&nbsp;Газиева,<i> Забытые полотна: живопись и графика из собрания Нукусского
                    музея</i>, Москва, 1988.
                </li>
                <li><i>Советское искусство 1920-1930-х годов из собрания Государственного музея
                    искусств Каракалпакской АССР имени И.В.</i><i>&nbsp;</i><i>Савицкого. Нукус</i>, Ленинград: Аврора,
                    1991.
                </li>
                <li><i>Les
                    Survivants des Sables Rouges: art russe du Mus&eacute;e de Noukous. Ouzb&eacute;kistan
                    1920-1940</i>, Paris:
                    l'Inventaire; Caen: Conseil r&eacute;gional de Basse-Normandie, 1998.
                </li>
                <li><i>Авангард, остановленный на бегу</i> (Альбом / авт.-сост. С.М.&nbsp;Турутина и др.;
                    авт. статей: Е.Ф.&nbsp;Ковтун и др. ; ред.: М.Н.&nbsp;Григорьева).
                    Ленинград: Аврора, 1989.
                </li>
                <li><i>Венок Савицкому: живопись, рисунок, фотографии, документы</i>, Москва: Галеев
                    Галерея, 2011.
                </li>
                <li><i>Hommage</i><i> </i><i>to</i><i> </i><i>Savitsky</i><i>. </i><i>Collecting</i><i>
                    20</i><i>th</i><i>-</i><i>Century Russian and Uzbek Art. </i><i>Karakalpakstan State Museum
                    of Art, named after I.V.&nbsp;Savitsky, Nukus. </i><i>Private Collections, Moscow</i>, Stuttgart:
                    Arnoldsche Art Publishers,
                    Friends of the Nukus Museum, 2015.<i>&nbsp;</i></li>
                <li><i>Собрание государственного Музея искусств Республики Каракалпакстан имени
                    И.В.&nbsp;Савицкого</i>. Изд. Ф.Ф.&nbsp;Абдухаликов, Э.В.&nbsp;Ртвеладзе, К.Б.&nbsp;Акилова. Т. 9.
                    Ташкент: &ldquo;Uzbekistan Today&rdquo; / &ldquo;Zamon Press Info&rdquo;, 2017.
                </li>
            </ul>
            <p>&nbsp;</p>
            <p><b>Персональные
                каталоги художников:</b></p>
            <ul>
                <li>М.В.&nbsp;Мюнц, <i>Николай Карахан</i>, Ташкент: Издательство литературы и
                    искусства имени Гафура Гуляма, 1978.
                </li>
                <li>Л.В.&nbsp;Шостко, <i>Виктор Уфимцев</i>. <i>Мастера искусств Узбекистана</i>, Ташкент: Издательство
                    литературы и
                    искусства имени Гафура Гуляма, 1984.
                </li>
                <li>Р.Х. Такташ, <i>Александр Волков.
                    Мастера искусств Узбекистана</i>, Ташкент: Издательство литературы и искусства
                    имени Гафура Гуляма, 1982.
                </li>
                <li>Р.В.&nbsp;Еремян, <i>Усто Мумин (А.Николаев)</i><i>. Мастера искусств Узбекистана</i>, Ташкент:
                    Издательство литературы и
                    искусства имени Гафура Гуляма, 1982.
                </li>
                <li>Н.В. Ачинская, <i>Рувим Мазель: очерк жизни и творчества</i>, Москва:
                    Издательство &ldquo;Параллели&rdquo;, 2004.
                </li>
                <li><i>Александр Волков: Солнце и караван </i>(Вступ. ст. Дж. Боулт), Москва: Слово, 2007.</li>
                <li>Р.Х.&nbsp;Такташ,<i> Н.В.&nbsp;Кашина: жизнь и творчество</i><i>, 1896-1977</i>, Ташкент:
                    Издательство
                    литературы и искусства имени Гафура Гуляма, 1982.
                </li>
                <li>М.И.&nbsp;Земская, <i>Александр Волков: Мастер &ldquo;Гранатовой чайханы&rdquo;</i>,
                    Москва: Советский художник, 1975.
                </li>
                <li>В.И.&nbsp;Уфимцев, <i>Говоря о себе. Воспоминания</i>, Москва: Советский
                    художник, 1973.
                </li>
            </ul>
            <p>Мы также использовали изображения из коллекции фотографа Александра
                Долгина, работавшего над фильмом &laquo;Пустыня запрещенного искусства&raquo;,
                опубликованные в
                <a class="link-warning"
                   href="https://www.facebook.com/iraida.yusupova/media_set?set=a.10204241753627860.1073741863.1348345931&amp;type=3"
                   target="_blank">Фейсбуке</a> Ираидой Юсуповой,
                и несколько фотографий, опубликованных на сайте и фейсбук-странице Нукусского
                музея.</p>
            <p>Еще один источник наших изображений: фотографии, сделанные участниками
                проекта и гражданскими активистами в Нукусском музее и на его выездных
                выставках. Авторы фотографий: Светлана Горшенина, Зухра Касымова, Даниил
                Кислов, Ксения Крутова, Азиза Наурузбаева.</p>
        </div>
    </div>
</div>
{% endblock %}